name: Integration Tests Linux

on:
  push:

jobs:
  e2e:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@main
        with:
          flutter-version: '3.x'
          channel: 'stable'
      - run: sudo apt-get update && sudo apt-get install clang cmake ninja-build pkg-config libgtk-3-dev libpulse0
      - name: install deps
        run: |
          flutter config --enable-linux-desktop
          flutter pub get
      - run: sudo Xvfb -ac :99 -screen 0 1280x1024x24 > /dev/null 2>&1 &
      - run: "cd example && DISPLAY=:99 flutter run -d linux"
      # - run: "cd example && DISPLAY=:99 flutter test -d linux integration_test/app_test.dart"
